pkgbase = nmapsi4
	pkgdesc = Qt-based Gui nmap interface.
	pkgver = 0.3.1
	pkgrel = 1
	url = http://nmapsi.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake>=2.6
	depends = qt
	depends = qtwebkit
	depends = nmap
	source = http://nmapsi4.googlecode.com/files/nmapsi4-0.3.1.tar.bz2
	sha256sums = 21fe5b03111fedeae4bbfe028250faa090aa974d5a1bfc96e8a5f0b13c1e061e

pkgname = nmapsi4

