pkgbase = nmapsi4
	pkgdesc = Qt-based Gui nmap interface.
	pkgver = 0.4.1
	pkgrel = 3
	url = http://nmapsi.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake>=2.6
	depends = qtwebkit
	depends = nmap
	source = http://nmapsi4.googlecode.com/files/nmapsi4-0.4.1.tar.bz2
	sha256sums = 671a22acadce181a7320c052a9e6b307eb53eb1b1b4b736d05539c3c02bef000

pkgname = nmapsi4

